<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)" /> -->
<body>
  <div style="color: rgb(0, 0, 0); width: 8%; height: 5%">
    <label><strong>Server Name</strong> </label>
  </div>
  <input type="text" class="form-control" [(ngModel)]="serverName" />
  <button class="btn btn-primary">Add server</button>

  <hr />
  <!-- <p>{{ serverName }}</p> -->

  <div>
    <hr />
  </div>

  <button
    style="color: blue"
    [disabled]="!allowNewServer"
    (click)="onCreateServer()"
  >
    Add server
  </button>
</body>
<p>{{ serverCreationStatus }}</p>
