<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!-- Add a Form with the following Inputs (and Validators)
           1) Mail address (should not be empty and should be an email address)
           2) A Dropdown which allows the user to select from three different Subscriptions ("Basic", "Advanced", "Pro")
              Set "Advanced" as Default
           3) A Password field (should not be empty)
           4) A Submit Button

           Display a warning message if the Form is invalid AND was touched. Display a warning message below each input if it's invalid.

           Upon submitting the form, you should simply print the Value of the Form to the Console.
           Optionally, display it in your template.
      -->
      <form #f="ngForm">
        <div class="container">
          <div id="user-data" ngModelGroup="userData" #userData="ngModelGroup">
            <!-- Mail -->
            <label for="email">Mail </label>
            <input
              class="form-control"
              type="text"
              name="email"
              ngModel
              required
              email
              #email="ngModel"
            />
            <span
              class="help-block"
              style="color: red"
              *ngIf="!email.valid && email.touched"
              >Please enter valid value</span
            >
            <button class="btn btn-success" (click)="generateEmail(f)" #f>
              Generate email
            </button>
          </div>
          <!-- password filed -->
          <div class="row">
            <label for="password"> Password </label>
            <input
              id="fPassword"
              type="password"
              name="fpassword"
              class="form-control"
              ngModel
              requried
              text
              #text="ngModel"
            />
            <label for="confirmPassword">Confirm Password</label>
            <input
              id="sPassword"
              type="password"
              name="spassword"
              class="form-control"
              ngModel
              requried
              text
              #text="ngModel"
            />

            <span
              class="help-block"
              style="color: rgb(195, 55, 36)"
              *ngIf="
                f.value.fpassword !== f.value.spassword &&
                f.value.fpassword !== '' &&
                f.value.spassword !== ''
              "
              >Passwords have differences</span
            >
          </div>
          <!-- subscription -->
          <div class="row">
            <label for="Subscription">Subscription</label>
            <select
              id="sub"
              name="sub"
              [ngModel]="defaultValue"
              class="form-control"
            >
              <option value="Basic">Basic</option>
              <option value="Advanced">Advanced</option>
              <option value="Pro">Pro</option>
            </select>
          </div>
          <button
            #f
            class="btn btn-primary"
            [disabled]="
              f.value.fpassword !== f.value.spassword ||
              f.value.fpassword === ''
            "
          >
            Test Button
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
